/*COLUMN 1*/

.column-1 {
    max-width: 840px;
}

@media screen and (max-width: 399px) {
    .column-1-cosmology-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-1-cosmology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-1{
        display: flex;

    }
    .column-1-cosmology-img-1-content img {
        float: right;
        max-width: 50%;
        margin: 0 0 0.5rem 0.5rem;
    }   
}

@media screen and (min-width: 847px) {
    .column-1 {
        margin: 0 auto;
    }
    .column-1-cosmology-img-and-text-container {
        display: flex;
        gap: 0.5rem;
    }
    .column-1-cosmology-img-and-text-container > * {
        flex-basis: 50%;
    }
    .column-1-cosmology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
    .column-1-cosmology-img-1-content img {
        min-width: 100%;
        height: 282px;
    }
} 



/*COLUMN 2*/

.column-2 {
    max-width: 840px;
}

.column-2 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-2-evolution-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-2-evolution-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-2 {
        display: flex;

    }
    .column-2-evolution-img-1-content img {
        float: left;
        max-width: 50%;
        margin: 0.3rem 0.5rem 0.5rem 0;
    }   
}

@media screen and (min-width: 847px) {
    .column-2 {
        margin: 0 auto;
    }
    .column-2-evolution-img-and-text-container {
        display: flex;
        gap: 0.5rem;
    }
    .column-2-evolution-img-and-text-container > * {
        flex-basis: 50%;
    }
    .column-2-evolution-img-1-content {
        margin-top: 1rem; 
    }
    .column-2-evolution-img-1-content img {
        min-width: 100%;
        height: 340px;
        object-position: top;
    }
} 

/*COLUMN 3*/

.column-3 {
    max-width: 840px;
}

.column-3 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-3-biology-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-3-biology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-3{
        display: flex;

    }
    .column-3-biology-img-1-content img {
        float: right;
        max-width: 50%;
        margin: 0.4rem 0 0.5rem 0.5rem;
    }   
}

@media screen and (min-width: 847px) {
    .column-3 {
        margin: 0 auto;
    }
    .column-3-biology-img-and-text-container {
        display: flex;
        gap: 0.5rem;
    }
    .column-3-biology-img-and-text-container > * {
        flex-basis: 50%;
    }
    .column-3-biology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
    .column-3-biology-img-1-content img {
        min-width: 100%;
        height: 372px;
    }
} 

/*COLUMN 4*/

.column-4 {
    max-width: 840px;
}

.column-4 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-4-robotics-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-4-robotics-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-4 {
        display: flex;

    }
    .column-4-robotics-img-1-content img {
        float: left;
        max-width: 50%;
        margin: 0.3rem 0.5rem 0.5rem 0;
    }   
}

@media screen and (min-width: 847px) {
    .column-4 {
        margin: 0 auto;
    }
    .column-4-robotics-img-and-text-container {
        display: flex;
        gap: 0.5rem;
    }
    .column-4-robotics-img-and-text-container > * {
        flex-basis: 50%;
    }
    .column-4-robotics-img-1-content {
        margin-top: 1rem; 
    }
    .column-4-robotics-img-1-content img {
        min-width: 100%;
        height: 135px;
    }
} 

/*COLUMN 5*/

.column-5 {
    max-width: 840px;
}

.column-5 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-5-ecology-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-5-ecology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-5{
        display: flex;

    }
    .column-5-ecology-img-1-content img {
        float: right;
        max-width: 50%;
        margin: 0.4rem 0 0.5rem 0.5rem;
    }   
}

@media screen and (min-width: 847px) {
    .column-5 {
        margin: 0 auto;
    }
    .column-5-ecology-img-and-text-container {
        display: flex;
        gap: 0.5rem;
    }
    .column-5-ecology-img-and-text-container > * {
        flex-basis: 50%;
    }
    .column-5-ecology-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
    .column-5-ecology-img-1-content img {
        min-width: 100%;
        height: 260px;
    }
} 

/*Floating Text*/

.container-for-floating-text{
    max-width: 840px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 3rem;
}

.floating-text {
    position: absolute;
    transform: translateY(-50%);
    animation: floatText 6s linear infinite;
}

@keyframes floatText {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

/*COLUMN 6*/

.column-6 {
    max-width: 840px;
}

.column-6 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-6-visiting-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-6-visiting-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-6{
        display: flex;

    }
    .column-6-visiting-img-1-content img {
        float: right;
        max-width: 50%;
        margin: 0.5rem 0rem 0.5rem 0.5rem;
        min-width: 50%;
        max-height: 200px;
    }   
}

@media screen and (min-width: 847px) {
    .column-6-visiting-img-1-content img {
        min-width: 100%;
        max-height: 300px;
    }
} 

/*COLUMN 7*/

.column-7 {
    max-width: 840px;
}

.column-7 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-7-night-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-7-night-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-7 {
        display: flex;

    }
    .column-7-night-img-1-content img {
        float: left;
        max-width: 50%;
        margin: 0.3rem 0.5rem 0.5rem 0;
        min-width: 50%;
        max-height: 200px;
    }   
}

@media screen and (min-width: 847px) {
    .column-7-night-img-1-content img {
        min-width: 100%;
        max-height: 300px;
    }
} 

/*COLUMN 8*/

.column-8 {
    max-width: 840px;
}

.column-8 h2 {
    margin-top: 2rem;
}

@media screen and (max-width: 399px) {
    .column-8-energetica-img-and-text-container {
        display: flex;
        flex-direction: column;
    }

    .column-8-energetica-img-1-content {
        order: 2; 
        margin-top: 1rem; 
    }
}

@media screen and (min-width: 400px) {
    .column-8{
        display: flex;

    }
    .column-8-energetica-img-1-content img {
        float: right;
        max-width: 50%;
        margin: 0.5rem 0rem 0.5rem 0.5rem;
        min-width: 50%;
        min-height: 200px;
    }   
}

@media screen and (min-width: 847px) {

    .column-8-energetica-img-1-content img {
        min-width: 100%;
        height: 300px;
    }

    .container-for-news-columns {
        display: flex;
        max-width: 840px;
        margin: 0 auto;
        gap: 1.1rem;
        justify-content: center;
    }

    .column-6-visiting-container, 
    .column-7-night-container,
    .column-8-energetica-container {
        display: flex;
        flex-direction: column;
        max-width: 17rem;
    }

    .column-6-visiting-container h2, 
    .column-7-night-container h2,
    .column-8-energetica-container h2 {
        text-align: center;
    }
}



