header,
body,
footer {
    background-color: #040537;
}

body {
    position: relative;
    color: #fff;
}

.headerlogo {
    width: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    align-items: center;
}

nav a {
    margin-right: 1.25rem;
    text-decoration: none;
    color: #fff;
}

nav a.current-page {
    color: #eb1260;
}

nav a:hover {
    color: #eb1260;
    font-weight: bold;
}

main {
    max-width: 100%;
}

body {
    height: 100vh;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

/*small screens*/

@media screen and (max-width: 750px) {

    .logo-container-nav {
        margin-right: auto;
        padding: 0 0.8rem;
    }

    header {
        font-size: 3.3rem;
        z-index: 1000;
    }

    .hamburger-icon {
        display: block;
        color: #eb1260;
    }

    nav,
    #menu-checkbox {
        display: none;
    }

    nav {
        position: absolute;
        top: 4.8rem;
        background: #040537;
    }

    nav a {
        display: block;
        padding: 0.5rem;
        font-size: 1rem;
        margin-right: 0;
    }

    #menu-checkbox:checked~nav {
        display: block;
    }
}

/*big screens*/

@media (min-width: 751px) {

    .hamburger-icon,
    #menu-checkbox {
        display: none;
    }
}

/*medium screens*/

@media screen and (min-width: 751px) and (max-width: 880px) {
    nav a {
        font-size: 0.75rem;
    }
}

/*footer small screens*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    color: #eb1260;
    margin-top: 2rem;
}

.footerlogo img {
    width: 1rem;
}

.social-media-footer-logos img {
    width: 1.09rem;
}

.footerlogo-and-social-media-footer-logos {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.all-footerlinks {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 0.5rem;
}

.all-footerlinks>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-footerlinks a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 0.3rem;
}

footer a:hover {
    color: #eb1260;
    font-weight: bold;
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.copyright-text h3 {
    font-size: 0.5rem;
}

/*footer medium screens*/

@media (min-width: 300px) {
    .footer-content {
        display: grid;
        justify-content: center;
    }

    .footerlogo-and-social-media-footer-logos {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .social-media-footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerlogo img {
        width: 2rem;
    }

    .social-media-footer-logos img {
        width: 1.5rem;
    }

    .all-footerlinks a {
        font-size: 0.6rem;
    }
}

@media (min-width: 320px) {
    .social-media-footer-logos img {
        width: 1.7rem;
    }
}

@media (min-width: 330px) {
    .social-media-footer-logos img {
        width: 1.8rem;
    }
}

@media (min-width: 350px) {
    .social-media-footer-logos img {
        width: 1.9rem;
    }

    .footerlogo img {
        width: 3rem;
    }

    .all-footerlinks>div {
        justify-content: flex-start;
    }

    .all-footerlinks a {
        font-size: 0.7rem;
    }

    .copyright-text h3 {
        font-size: 0.7rem;
    }
}

@media (min-width: 375px) {
    .social-media-footer-logos img {
        width: 2.2rem;
    }
}

@media (min-width: 400px) {
    .social-media-footer-logos img {
        width: 2.4rem;
    }
}

/*footer big screens*/

@media (min-width: 500px) {
    .social-media-footer-logos img {
        width: 3rem;
    }

    .all-footerlinks>div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .all-footerlinks a {
        margin-top: 0.5rem;
    }
}